header {
  text-align: center;
  color: antiquewhite;
  background-color: blue;
  padding: 1px;
  border: 2px solid black ;
}
#city-list h2 {
  font-size: 17px;
}

.forecast-item {
  display: block;
  background-color: burlywood;
  width: auto;
}