* {
  margin: 5px;
}

.header {
  text-align: center;
  color: antiquewhite;
  background-color: blue;
  padding: 1px;
  border: 2px solid black ;
}
#city-list {
  font-size: 17px;
  border: 1px solid black
}

.forecast-item {
  background-color: burlywood;
  border: 1px solid black;
  padding: 1px;
}

#current-city {
  border: 1px solid black;
}

